<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <div class="navigation">
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col>
          <ion-button fill="clear" routerLink="home" color="tertiary">
            <ion-icon name="map-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" (click)="vehicleService.listVehicles()" color="tertiary">
            <ion-icon name="wallet-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button fill="clear" (click)="onOpenSettings()" color="tertiary">
            <ion-icon name="settings-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-app>


